# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
coverage/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Logs
*.log

# Flutter
.flutter-plugins
.flutter-plugins-dependencies

# Android
/android/app/debug
/android/app/profile
/android/app/release

# Env
.env*